{% load static %}
<div class="l-box">
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th colspan='2'>Key to calendar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Available to book
        </td>
        <td>
          <img src="{% static 'project/img/booked-not.jpg' %}" />
        </td>
      </tr>
      <tr>
        <td>
          Booked in the morning
        </td>
        <td>
          <img src="{% static 'project/img/booked-morning.jpg' %}" />
        </td>
      </tr>
      <tr>
        <td>
          Booked in the afternoon
        </td>
        <td>
          <img src="{% static 'project/img/booked-afternoon.jpg' %}" />
        </td>
      </tr>
      <tr>
        <td>
          Booked all day
        </td>
        <td>
          <img src="{% static 'project/img/booked.jpg' %}" />
        </td>
      </tr>
    <tbody>
  </table>
</div>

