{% if user.is_staff %}
  <div class="pure-u-1 pure-u-md-1-4">
    <div class="pure-g">
      <div class="pure-u-1">
        <h4>Booking</h4>
      </div>
    </div>
    <div class="r-box">
      <a href="{% url 'booking.list' %}" class="pure-menu-link">
        <i class="fa fa-calendar"></i>
        Bookings
      </a>
    </div>
    {% if booking_settings.display_categories %}
      <div class="r-box">
        <a href="{% url 'booking.category.list' %}" class="pure-menu-link">
          <i class="fa fa-calendar"></i>
          Categories
        </a>
      </div>
    {% endif %}
    {% if booking_settings.display_locations %}
      <div class="r-box">
        <a href="{% url 'booking.location.list' %}" class="pure-menu-link">
          <i class="fa fa-calendar"></i>
          Locations
        </a>
      </div>
    {% endif %}
    {% if booking_settings.display_rota %}
      <div class="r-box">
        <a href="{% url 'booking.rota.type.list' %}" class="pure-menu-link">
          <i class="fa fa-male"></i>
          Rota Type
        </a>
      </div>
    {% endif %}
  </div>
{% endif %}
