{% extends "booking/base.html" %}
{% load static %}

{% block sub_title %}
  Example app
{% endblock sub_title %}

{% block sub_heading %}
  Example app
{% endblock sub_heading %}

{% block stylesheets_extra %}
  <link rel="stylesheet" href="{% static 'example/css/example.css' %}">
  <link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
{% endblock stylesheets_extra %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'booking.list' %}" class="pure-menu-link">
              <i class="fa fa-calendar"></i>
              Bookings
            </a>
          </li>
          {% if user.is_staff %}
            <li class="pure-menu-item">
              <a href="{% url 'booking.create' %}" class="pure-menu-link">
                <i class="fa fa-calendar-o"></i>
                New booking
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="l-box">
        <h3>Public bookings for the next couple of months</h3>
        {% for b in public_calendar %}
          {% include 'booking/_booking.html' %}
        {% endfor %}
      </div>
      {% for c in calendar %}
        <div class="pure-g">
          {% for month in c %}
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
              <div class="l-box">
                {{ month }}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
